/* DIV高度自适应浏览器高度方法 start */
html, body{
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.home-bg {
    background:url('/assets/img/home_bg.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    height: 100%
}

.hide {
   display: none;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}
